<!DOCTYPE html>
<html>
  <head>
    <title>eZaliv</title>
    <meta charset="utf-8">
  </head>
  <body>
    <header>
      <h1>eZaliv</h1>
    </header>

    <section id="prijava">
      <form action="/admin/login" method="post">
        Uporabniško ime:
        <input name="uporabnik" type="text" /> <br />
        Geslo:
        <input name="geslo" type="password" /> <br />
        <input value="Prijava" type="submit" />
      </form>
    </section>

    <footer>
    </footer>

  </body>
</html>
